* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

html{
    background: #C164E0;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.imgProfile{
    height: 6vh;
    width: 3vw;
    border-radius: 100px;
    margin: 1vh;
}

.botao{
    display: flex;
    position: relative;
    right: 25px;
    border-radius: 30px;
    height: 3vh;
}

.botao img{
    height:4vh;
    width: 2vw;
}

.busca{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    border-radius: 30px;
    height: 3.5vh;
    width: 20vw;
    padding-left: 1vh;
}

h1{
    font-family: garamond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5vh;
}

.procura{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}

.estrela{
    cursor: pointer;
    width: 20px;
}

.estrela.pb {
    filter: grayscale(100);
}

#logo{
    display: flex;
    position: relative;
    left: 13vh;
    height: 20dvh;
}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 35vh;
    padding-left: 35vh;
    padding-top: 10vh;
    text-align: justify;
}

.book img{
    border-radius: 10px;
    padding: 10px;
}

.book h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.book p{
    padding: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    background-color: #9c3c9b;
}